
<div class="mat-elevation-z8 w-100 mx-auto">
  <app-task-filter label="Filtrar por rol de asignación" [rolesOption]="rolesOption" [tableField]="'type'"
  (filterChange)="applyFilter($event)"></app-task-filter>
<div class="mat-elevation-z8 overflow-auto table-responsive-md border rounded-3 shadow-sm">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="description">
      <th class="bg-header-table h6 " mat-header-cell *matHeaderCellDef>Descripción </th>
      <td class="h6" mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="end_date">
      <th class="bg-header-table  h6" mat-header-cell *matHeaderCellDef>Fecha de Entrega</th>
      <td  mat-cell *matCellDef="let element"> {{ element.end_date | date:'dd/MM/yyyy' }} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th class="bg-header-table h6" mat-header-cell *matHeaderCellDef>Asignación</th>
      <td mat-cell *matCellDef="let element"> {{ getRoleDescription(element.type) ? getRoleDescription(element.type):
        element.Users[0]?.first_name+' '+ element.Users[0].last_name }} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="accion">
      <th class=" h6 text-center align-middle gap-2 bg-header-table" mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex justify-content-center gap-2 justify-content-md-center">
          <button mat-icon-button aria-label="Example icon button with a delete icon"
            (click)="userAssigned(element.Users, element)"  matTooltip="Usuarios asignados">
            <mat-icon>group</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a delete icon"
          (click)="documentAssigned(element.Documents, element)"  matTooltip="Documentos adjuntos">
          <mat-icon class="text-success">description</mat-icon>
        </button>
          <button  *ngIf="canViewElement([abilities.updateTask])" mat-icon-button aria-label="Example icon button with a delete icon"  matTooltip="Editar evento"
            (click)="edit( element)" title="Editar evento">
            <mat-icon class="text-primary">edit</mat-icon>
          </button>
          <button  *ngIf="canViewElement([abilities.deleteTask])" mat-icon-button aria-label="Example icon button with a delete icon"  matTooltip="Borrar evento"
          (click)="delet( element)" title="Eliminar evento">
          <mat-icon class="text-danger">delete</mat-icon>
        </button>
        </div>
      </td>
    </ng-container>
    <tr class="mat-row " *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay eventos en el sistema </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
</div>

