<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="py-0">
  <p>{{ data.message }}</p>
</div>
<hr>
<form [formGroup]="addDocsForm">
  <mat-dialog-content class="d-flex flex-wrap gap-2 justify-content-center">
    <mat-form-field
      class="w-100"
      [ngClass]="{'mb-3': addDocsForm.get('name')?.invalid && (addDocsForm.get('name')?.touched || addDocsForm.get('name')?.dirty)}">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" minlength="4" maxlength="101" (input)="onInput('name')">
      <mat-error class="d-flex flex-column" *ngIf="addDocsForm.get('name')?.invalid && addDocsForm.get('name')?.touched">
        <ul>
          <li *ngIf="addDocsForm.get('name')?.hasError('required')">El nombre es obligatorio.</li>
          <li *ngIf="addDocsForm.get('name')?.hasError('minlength')">Debe tener al menos 4 caracteres.</li>
          <li *ngIf="addDocsForm.get('name')?.hasError('maxlength')">No puede superar los 100 caracteres.</li>
        </ul>
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="w-100"
      [ngClass]="{'mb-3': addDocsForm.get('code')?.invalid && (addDocsForm.get('code')?.touched || addDocsForm.get('code')?.dirty)}">
      <mat-label>Código</mat-label>
      <input matInput formControlName="code" minlength="2" maxlength="7" (input)="onInput('code')">
      <mat-error class="d-flex flex-column" *ngIf="addDocsForm.get('code')?.invalid">
        <ul>
          <li *ngIf="addDocsForm.get('code')?.hasError('required')">El código es obligatorio.</li>
          <li *ngIf="addDocsForm.get('code')?.hasError('minlength')">Debe tener al menos 2 caracteres.</li>
          <li *ngIf="addDocsForm.get('code')?.hasError('maxlength')">Debe tener un máximo de 6 caracteres.</li>
        </ul>
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="w-100"
      [ngClass]="{'mb-5': addDocsForm.get('url')?.invalid && (addDocsForm.get('url')?.touched || addDocsForm.get('url')?.dirty)}">
      <mat-label>URL</mat-label>
      <textarea matInput formControlName="url" minlength="5" maxlength="1001" (input)="onInput('url')"></textarea>
      <mat-error class="d-flex flex-column" *ngIf="addDocsForm.get('url')?.invalid">
        <ul>
          <li *ngIf="addDocsForm.get('url')?.hasError('required')">La URL es obligatoria.</li>
          <li *ngIf="addDocsForm.get('url')?.hasError('minlength')">Debe tener al menos 5 caracteres.</li>
          <li *ngIf="addDocsForm.get('url')?.hasError('maxlength')">No puede superar los 1000 caracteres.</li>
          <li *ngIf="addDocsForm.get('url')?.hasError('pattern')">La URL debe comenzar con "https://".</li>
        </ul>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Añade el documento a una subcategoría</mat-label>
      <mat-select formControlName="id_subcategory">
        <mat-optgroup *ngFor="let category of categories" [label]="category.name">
          <mat-option *ngFor="let subcategory of category.subcategories" [value]="subcategory.id">
            {{ subcategory.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="addDocsForm.get('id_subcategory')?.hasError('required')">
        La elección de subcategoría es obligatoria.
      </mat-error>
    </mat-form-field>
    <mat-checkbox class="w-100" formControlName="autofilled">¿Va a ser el documento autorrellenable?</mat-checkbox>
    <div class="d-flex gap-2 justify-content-end w-100">
      <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="addDocsForm.invalid"
        [ngClass]="{'text-secondary': addDocsForm.invalid}">{{ data.button }}</button>
    </div>
  </mat-dialog-content>
</form>
