<div class="container px-4 py-4">
  <h2 mat-dialog-title class="text-primary mb-4">{{ data.title }}</h2>
  <div mat-dialog-content class="mb-4">
    <p class="text-secondary mb-4">{{ data.message }}</p>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="align-middle">#</th>
            <th scope="col" class="align-middle">Nombre</th>
            <th scope="col" class="align-middle">Código</th>
            <th scope="col" class="align-middle">Enlace del Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of documents; let i = index">
            <td class="text-center align-middle">{{ i + 1 }}</td>
            <td class="align-middle">{{ item.name }}</td>
            <td class="align-middle">{{ item.code }}</td>
            <td class="text-center align-middle">
              <div class="d-flex justify-content-center align-items-center gap-2">
                <a [href]="item.url" target="_blank" class="d-inline-block">
                  <img src="icono-pdf.png" alt="img-pdf" title="Ver documento" class="img-fluid" style="max-width: 40px;">
                </a>
                <button mat-icon-button matSuffix (click)="downloadPdf(item)"
                  title="Descargar documento autorellenado">
                  <mat-icon class="text-primary">download</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end mt-3">
    <button mat-button (click)="closeDialog()">
      {{ data.button }}
    </button>
  </div>
</div>
