<div id="messagesContainer" class="mx-auto p-5">
  <button mat-raised-button class="col-md-2 mb-3" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> Volver a mi perfil
  </button>
  <div class="container w-50 border p-5 rounded shadow">
    <div class="mensajes">
      <div *ngFor="let mensaje of mensajesRecibidos" class="mensaje d-flex justify-content-between align-items-center">
        <strong>{{ mensaje.user.first_name }} {{ mensaje.user.last_name }}:</strong>
        {{ mensaje.message }}
        <button type="button" class="bg-light d-flex justify-content-center align-items-center" mat-icon-button matSuffix [matTooltip]="'Marcar como leído'" (click)="marcarMensajeLeido(mensaje.id)">
          <mat-icon class="text-success">mark_email_read</mat-icon>
        </button>
      </div>
    </div>

    <div class="input-container">
      <input [(ngModel)]="mensaje" placeholder="Escribe un mensaje..." (keyup.enter)="enviarMensaje()" />
      <button (click)="enviarMensaje()" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</div>
