<div id="message-container" class="mx-auto p-5 bg-light">
  <button mat-raised-button routerLink="/profile" class="mb-3">
    <mat-icon>arrow_back</mat-icon> Volver a mi perfil
  </button>
  <mat-list class="bg-white p-3 rounded border">
    <h4 mat-subheader>Mensajes recibidos</h4>
    <hr>
    <div class="messages-list p-3" *ngIf="mensajesRecibidos$.source._value.length > 0; else noMessages">
      <mat-list-item lines="4" *ngFor="let mensaje of mensajesRecibidos$ | async" class="message border rounded p-3 mb-3 d-flex align-items-center justify-content-center" (click)="openMessage(mensaje)">
        <mat-icon matListItemIcon class="icon align-self-start">mail</mat-icon>
        <span matListItemTitle><strong>{{ mensaje.subject }}</strong></span>
        <span matListItemLine class="text-secondary">{{ mensaje.sender.first_name }} {{ mensaje.sender.last_name }} | {{ mensaje.createdAt | date:'HH:mm - dd/MM/YY' }}</span>
        <span matListItemLine>{{ mensaje.message }}</span>
        <button matListItemMeta type="button" class="customBtn d-flex justify-content-center align-items-center" mat-icon-button matSuffix [matTooltip]="'Marcar como leído'" (click)="marcarMensajeLeido($event, mensaje.id)">
          <mat-icon class="icon2">mark_email_read</mat-icon>
        </button>
      </mat-list-item>
    </div>
    <ng-template #noMessages>
      <div class="no-msg text-center py-4 rounded">
        <h5 class="m-0">No hay mensajes sin leer.</h5>
      </div>
    </ng-template>
  </mat-list>
</div>
