<div class="d-flex justify-content-between align-items-center subnav-admin p-3 rounded-3 mb-3">
  <h1 class="text-white">Roles</h1>
  <div class="d-flex gap-2">
    <button mat-raised-button color="primary" class="w-100 w-md-auto" (click)="createRole()">
      <mat-icon>add</mat-icon>
      Añadir rol
    </button>
  </div>
</div>

<mat-form-field appearance="outline" class="w-100 d-flex align-items-center">
  <mat-label>Buscador</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  <mat-icon matSuffix class="text-primary">search</mat-icon>
</mat-form-field>

<div class="mat-elevation-z8 overflow-auto table-responsive-md border rounded-3 shadow-sm">
  <table mat-table [dataSource]="dataSource" matSort class=" w-100 m-0 align-middle">

    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class=" bg-header-table text-center align-middle"> # </th>
      <td mat-cell *matCellDef="let row; let index = index">{{ index + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-header-table text-center align-middle"> Código </th>
      <td mat-cell *matCellDef="let row">{{ row.code }}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-header-table text-center align-middle"> Año </th>
      <td mat-cell *matCellDef="let row">{{ row.year }}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-header-table text-center align-middle"> Puesto </th>
      <td mat-cell *matCellDef="let row">{{ row.position }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-header-table text-center align-middle"> Descripción </th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="bg-header-table text-end align-middle"> Acciones </th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex justify-content-center gap-2 justify-content-md-center">
          <button mat-icon-button title="Editar rol">
            <mat-icon class="text-primary" (click)="editRole(row.id)">edit</mat-icon>
          </button>
          <button mat-icon-button title="Borrar rol">
            <mat-icon class="text-danger" (click)="deleteRole(row.id)">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (mouseenter)="hoveredRow = row"
    (mouseleave)="hoveredRow = null"
    [ngClass]="{'hovered-row': hoveredRow === row}"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="5">No hay roles que coincidan con "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of roles"></mat-paginator>
</div>
