<header class="header container-fluid w-100 shadow py-5 px-4">
  <div class="row align-items-center justify-content-between">
    <div
      class="col-6 col-md-6 d-flex align-items-center logo-section"
      routerLink="/"
    >
      <img
        src="/img/001-logo-cifpvdg.png"
        alt="Logo-CIFP-VirgenDeGracia"
        title="CIFP Virgen de Gracia"
        class="logo-img img-fluid"
      />
      <h1 class="mx-3 mb-0 text-light title-text">CIFP Virgen de Gracia · Departamento de Calidad</h1>
    </div>

    <div class="col-6 col-md-4 text-end">
      <div *ngIf="isUserLoggedIn();else iniciarSesion">
        <button mat-raised-button class="img-menu py-2" [matMenuTriggerFor]="userMenu">
          <div class="d-flex align-items-center">
            <img [src]="profilePicture" class="img-fluid rounded-circle" alt="Foto de perfil">
            <span class="mx-2 d-flex">{{ usuario.first_name }} {{ usuario.last_name }} <mat-icon>arrow_drop_down</mat-icon></span>
          </div>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <button
            mat-menu-item
            *ngIf="canViewElement(abiltiesProfile)"
            routerLink="/profile"
          >
            <mat-icon>account_circle</mat-icon> Mi perfil
          </button>
          <button
            mat-menu-item
            *ngIf="canViewElement(abiltiesKanba)"
            routerLink="/kanban"
          >
            <mat-icon>view_column</mat-icon> Mis tareas
          </button>
          <button
            *ngIf="canViewElement(abiltiesQuality)"
            mat-menu-item
            routerLink="/task"
          >
            <mat-icon>content_paste</mat-icon> Calidad
          </button>
          <button
            *ngIf="canViewElement(abiltiesAdmin)"
            mat-menu-item
            routerLink="/admin"
          >
            <mat-icon>settings</mat-icon> Administración
          </button>
          <button
            mat-menu-item
            (click)="changeRole()"
          >
            <mat-icon>repeat</mat-icon> Cambiar rol
          </button>
          <button
            mat-menu-item
            (click)="logout()"
          >
            <mat-icon>logout</mat-icon> Cerrar sesión
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <ng-template #iniciarSesion>
    <button mat-raised-button (click)="goToLogin()">
      <mat-icon>login</mat-icon>Iniciar sesión
    </button>
  </ng-template>
</header>
