<h1 mat-dialog-title class="text-light mb-4 fs-2 bg-color p-4">{{ data.title }}</h1>
<mat-dialog-content>
  <div class="d-flex align-items-center bg-color-soft text-white p-3 rounded fs-6 shadow">
    <mat-icon class="text-light pe-4">info</mat-icon>
    <p class="mb-0 ps-2">{{ data.message }}</p>
  </div>
</mat-dialog-content>
<form [formGroup]="roleForm">
  <mat-dialog-content class="d-flex flex-column gap-2 justify-content-center">
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="roleForm.get('code')?.hasError('required')">
        El código es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Año</mat-label>
      <input matInput formControlName="year" type="number">
      <mat-error *ngIf="roleForm.get('year')?.hasError('required')">
        El año es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Puesto</mat-label>
      <input matInput formControlName="position">
      <mat-error *ngIf="roleForm.get('position')?.hasError('required')">
        El puesto es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" minlength="5" maxlength="255"></textarea>
      <mat-error *ngIf="roleForm.get('description')?.hasError('required')">
        La descripción es requerida
      </mat-error>
    </mat-form-field>
    <div class="d-flex gap-2 justify-content-end">
      <button mat-button color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-button color="primary" (click)="save()" [disabled]="roleForm.invalid"
        [ngClass]="{'text-secondary': roleForm.invalid}">{{ data.button }}</button>
    </div>
  </mat-dialog-content>
</form>
