<h1 mat-dialog-title class="text-primary">{{ data.title }}</h1>
<div mat-dialog-content class="py-0">
  <p>{{ data.message }}</p>
</div>
<form [formGroup]="roleForm">
  <mat-dialog-content class="d-flex flex-column gap-2 justify-content-center">
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="roleForm.get('code')?.hasError('required')">
        El código es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Año</mat-label>
      <input matInput formControlName="year" type="number">
      <mat-error *ngIf="roleForm.get('year')?.hasError('required')">
        El año es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Puesto</mat-label>
      <input matInput formControlName="position">
      <mat-error *ngIf="roleForm.get('position')?.hasError('required')">
        El puesto es requerido
      </mat-error>
    </mat-form-field>
    <div class="d-flex gap-2 justify-content-end">
      <button mat-button color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-button color="primary" (click)="save()" [disabled]="roleForm.invalid" [ngClass]="{'text-secondary': roleForm.invalid}">{{ data.button }}</button>
    </div>
  </mat-dialog-content>
</form>
