<div class="dialog-container">
  <div></div>
  <h2 mat-dialog-title class="text-center">
    Evento
  </h2>

  <div class="d-flex justify-content-center flex-column " mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="task.description" placeholder="Ingrese el nombre de la categoría" #nombre="ngModel"
        required="true" />
      <mat-error *ngIf="!validate()">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Elige una fecha de entrega</mat-label>
      <input matInput  [(ngModel)]="task.end_date" [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-dialog-actions class="button-group">
    <button mat-raised-button (click)="close()" color="warn" class="action-button">
      Descartar
    </button>
    <button mat-raised-button (click)="init()" color="primary" class="action-button">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
