li:hover {
  cursor: pointer;
}

.list-group-item {
  color: #021026;
  background-color: #c8d8f6;
  border-color: #FFF;
  transition: background-color 0.3s ease-in-out;
}

.list-group-item:hover, .list-group-item.active {
  color: #FFF;
  background-color: #021026;
}

.mat-accordion {
  text-transform: uppercase;
  font-family: 'Merriweather', sans-serif;
}



