li:hover {
  cursor: pointer;
}

.list-group-item {
  color: #021026;
  background-color: #FFE1E1;
  border-color: #c8d8f6;
  transition: background-color 0.3s ease-in-out;
}

.list-group-item:hover, .list-group-item.active {
  background-color: #f3adad;
}

.mat-expansion-panel, .mat-expansion-panel:active, .mat-expansion-panel:hover, .mat-panel-title {
  background-color: #c8d8f6;
}

/* .mat-expansion-panel-header {
  background-color: #A5B8DB;
} */



