.tab-icon {
  margin-right: 8px;
  color: #193e7a !important;
}

img.img-fluid {
  width: 12.5rem;
  border: 5px solid #c8d8f6;
}

.badge {
  background-color: #193e7a;
}

#profileContainer {
  border-radius: 0 0 0.3rem 0.3rem;
}
