<mat-toolbar  class="text-white justify-content-center p-5 bg-header-dialog">
  <span class="h4">{{ category.name}}</span>
</mat-toolbar>
<p
class="px-2 py-3 m-3 fs-6 text-white rounded-3 d-flex text-center align-items-center bg-color-soft"
>
<mat-icon class="text-light">info</mat-icon>
Edita la categoría {{category.name}}
</p>
<div class="dialog-container">


  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="category.name" placeholder="Ingrese el nombre de la categoría" #nombre="ngModel" required="true" />
      <mat-error *ngIf="!validate()">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-dialog-actions  class="button-group">
    <button mat-raised-button (click)="close()" color="warn" class="action-button">
      Descartar
    </button>
    <button mat-raised-button (click)="init()" color="primary" class="action-button">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
