<div cdkDropListGroup class="container">
  <div class="row justify-content-center g-4">
    <div class="col-md-6">
      <mat-card class="shadow">
        <mat-card-header class="rounded-top bg-color-soft text-white p-3">
          <mat-card-title>Tareas Pendientes</mat-card-title>
        </mat-card-header>
        <mat-card-content
          cdkDropList
          [cdkDropListData]="todo"
          id="todoList"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngIf="todo.length === 0" class="text-center text-muted py-5">
            No hay tareas pendientes
          </div>
          <ng-container *ngFor="let item of todo">
            <mat-card
              class="kanban-item border mat-elevation-z4 my-3 card-grab"
              cdkDrag
            >
              <mat-card-header>
                <mat-card-title>{{ item.description }}</mat-card-title>
                <mat-card-subtitle
                  ><span class="badge rounded-pill p-2 bg-color mt-3"
                    >Fecha límite:
                    {{ item.end_date.split(" ").slice(0, 1) }}</span
                  ></mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-actions align="end">
                <button
                  mat-button
                  color="accent"
                  (click)="openDialog(item.Documents)"
                >
                  <mat-icon class="text-primary">edit_document</mat-icon>
                  Ver documentos
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="shadow">
        <mat-card-header class="rounded-top bg-color text-white p-3">
          <mat-card-title>Tareas Terminadas</mat-card-title>
        </mat-card-header>
        <mat-card-content
          cdkDropList
          [cdkDropListData]="done"
          id="doneList"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngIf="done.length === 0" class="text-center text-muted py-5">
            No hay tareas pendientes
          </div>
          <ng-container *ngFor="let item of done">
            <mat-card
              class="kanban-item border mat-elevation-z4 my-3 card-grab"
              cdkDrag
            >
              <mat-card-header>
                <mat-card-title>{{ item.description }}</mat-card-title>
                <mat-card-subtitle
                  ><span class="badge rounded-pill p-2 bg-color mt-3"
                    >Fecha límite:
                    {{ item.end_date.split(" ").slice(0, 1) }}</span
                  ></mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-actions align="end">
                <button
                  mat-button
                  color="accent"
                  (click)="openDialog(item.Documents)"
                >
                  <mat-icon class="text-primary">edit_document</mat-icon>
                  Ver documentos
                </button>
                <button  *ngIf="canViewElement([abilities.deleteMyTask])" mat-button class="text-danger" (click)="deleteTask(item.id)">
                  <mat-icon  class="text-danger">delete</mat-icon>
                  Eliminar
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
