<mat-form-field appearance="outline" class="w-100">
  <mat-label>Buscador</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  <mat-icon matSuffix class="text-primary">search</mat-icon>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> # </th>
      <td mat-cell *matCellDef="let row; let index = index">{{ index + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genero </th>
      <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="corporate_email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo corporativo </th>
      <td mat-cell *matCellDef="let row"> {{row.corporate_email}} </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex align-items-center flex-wrap gap-2">
          <ng-container *ngIf="row.Roles?.length; else noRoles">
            <span class="me-2 d-flex align-items-center" *ngFor="let role of row.Roles" class="w-100 d-flex justify-content-between border border-primary align-items-center">
              {{ role.position }}
              <button mat-icon-button matSuffix>
                <mat-icon class="text-danger" (click)="removeAssignedRole(row.id, role.id)">remove</mat-icon>
              </button>
            </span>
          </ng-container>
        </div>
        <ng-template #noRoles>
          <span class="text-muted">Sin rol asignado</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <button (click)="editUser(row.id)" mat-icon-button matSuffix>
          <mat-icon class="text-primary">edit</mat-icon>
        </button>
        <button (click)="deleteUser(row.id)" mat-icon-button matSuffix>
          <mat-icon class="text-danger">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
