<h1 mat-dialog-title class="text-light mb-4 fs-2 bg-color p-4">{{ data.title }}</h1>
<mat-dialog-content>
  <div class="d-flex align-items-center bg-color-soft text-white p-3 rounded fs-6 shadow me-3">
    <mat-icon class="text-light pe-4">info</mat-icon>
    <p class="mb-0 ps-2">{{ data.message }}</p>
  </div>
</mat-dialog-content>
<form [formGroup]="userForm">
  <mat-dialog-content class="d-flex flex-wrap gap-2 justify-content-center">
    <mat-form-field class="w-100">
      <mat-label>Código</mat-label>
      <input matInput formControlName="code" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('code')?.hasError('required')">
        El código es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="first_name" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('first_name')?.hasError('required')">
        El nombre es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Apellido</mat-label>
      <input type="text" matInput formControlName="last_name" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('last_name')?.hasError('required')">
        El apellido es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>NPR</mat-label>
      <input type="text" matInput formControlName="nrp" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>DNI</mat-label>
      <input type="text" matInput formControlName="dni" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('dni')?.hasError('required')">
        El DNI es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Abreviatura</mat-label>
      <input type="text" matInput formControlName="abbreviation" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Fecha de nacimiento</mat-label>
      <input type="date" matInput formControlName="birth_date" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('birth_date')?.hasError('required')">
        La fecha de nacimiento es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="M" [disabled]="data.button === 'Info'">Masculino</mat-option>
        <mat-option value="H" [disabled]="data.button === 'Info'">Femenino</mat-option>
        <mat-option value="O" [disabled]="data.button === 'Info'">Otro</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('gender')?.hasError('required')">
        El género es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Título</mat-label>
      <input type="text" matInput formControlName="title" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Dirección</mat-label>
      <input type="text" matInput formControlName="address" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Ciudad</mat-label>
      <input type="text" matInput formControlName="city" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('city')?.hasError('required')">
        La ciudad es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Código postal</mat-label>
      <input type="number" matInput formControlName="postal_code" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('postal_code')?.hasError('required')">
        El código postal es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Provincia</mat-label>
      <input type="text" matInput formControlName="province" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('province')?.hasError('required')">
        La provincia es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">
        El email es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Teléfono RP</mat-label>
      <input type="tel" matInput formControlName="phone_rp" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Especialidad</mat-label>
      <input type="text" matInput formControlName="specialty" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Cuerpo</mat-label>
      <input type="text" matInput formControlName="body" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Departamento</mat-label>
      <input type="text" matInput formControlName="department" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Email Corporativo</mat-label>
      <input type="email" matInput formControlName="corporate_email" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('corporate_email')?.hasError('required')">
        El email corporativo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Teléfono</mat-label>
      <input type="tel" matInput formControlName="phone" [readonly]="data.button === 'Info'">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Fecha de admisión</mat-label>
      <input type="date" matInput formControlName="admission_date" [readonly]="data.button === 'Info'">
      <mat-error *ngIf="userForm.get('admission_date')?.hasError('required')">
        La fecha de admisión es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Fecha de salida</mat-label>
      <input type="date" matInput formControlName="leave_date" [readonly]="data.button === 'Info'">
    </mat-form-field>
  </mat-dialog-content>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{ data.closeBtn }}</button>
  <button *ngIf="data.button !== 'Info'" mat-button color="primary" class="text-primary" (click)="save()"
    [disabled]="userForm.invalid" [ngClass]="{'text-secondary': userForm.invalid}">{{ data.button }}</button>
</div>
