<h1 mat-dialog-title class="text-primary">{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<form [formGroup]="userForm">
  <mat-dialog-content class="d-flex flex-wrap gap-2 justify-content-center">
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="userForm.get('code')?.hasError('required')">
        El código es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="first_name">
      <mat-error *ngIf="userForm.get('first_name')?.hasError('required')">
        El nombre es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input type="text" matInput formControlName="last_name">
      <mat-error *ngIf="userForm.get('last_name')?.hasError('required')">
        El apellido es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>NPR</mat-label>
      <input type="text" matInput formControlName="nrp">
    </mat-form-field>

    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input type="text" matInput formControlName="dni">
      <mat-error *ngIf="userForm.get('dni')?.hasError('required')">
        El DNI es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Abreviatura</mat-label>
      <input type="text" matInput formControlName="abbreviation">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de nacimiento</mat-label>
      <input type="date" matInput formControlName="birth_date">
      <mat-error *ngIf="userForm.get('birth_date')?.hasError('required')">
        La fecha de nacimiento es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="H">Femenino</mat-option>
        <mat-option value="O">Otro</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('gender')?.hasError('required')">
        El género es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Título</mat-label>
      <input type="text" matInput formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input type="text" matInput formControlName="address">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ciudad</mat-label>
      <input type="text" matInput formControlName="city">
      <mat-error *ngIf="userForm.get('city')?.hasError('required')">
        La ciudad es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Código postal</mat-label>
      <input type="number" matInput formControlName="postal_code">
      <mat-error *ngIf="userForm.get('postal_code')?.hasError('required')">
        El código postal es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Provincia</mat-label>
      <input type="text" matInput formControlName="province">
      <mat-error *ngIf="userForm.get('province')?.hasError('required')">
        La provincia es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">
        El email es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono RP</mat-label>
      <input type="tel" matInput formControlName="phone_rp">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Especialidad</mat-label>
      <input type="text" matInput formControlName="specialty">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuerpo</mat-label>
      <input type="text" matInput formControlName="body">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Departamento</mat-label>
      <input type="text" matInput formControlName="department">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email Corporativo</mat-label>
      <input type="email" matInput formControlName="corporate_email">
      <mat-error *ngIf="userForm.get('corporate_email')?.hasError('required')">
        El email corporativo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input type="tel" matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">
        La contraseña es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de admisión</mat-label>
      <input type="date" matInput formControlName="admission_date">
      <mat-error *ngIf="userForm.get('admission_date')?.hasError('required')">
        La fecha de admisión es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de salida</mat-label>
      <input type="date" matInput formControlName="leave_date">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles">
        <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.position }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" class="text-primary" (click)="save()" [disabled]="userForm.invalid" [ngClass]="{'text-danger': userForm.invalid}">{{ data.button }}</button>
</div>
