<mat-toolbar  class="text-white justify-content-center p-5 bg-header-dialog">
  <span class="h4">{{ subcategory.name}}</span>
</mat-toolbar>
<p
class="px-2 py-3 m-3 fs-6 text-white rounded-3 d-flex text-center align-items-center bg-color-soft"
>
<mat-icon class="text-light">info</mat-icon>
Edita la subcategoría {{subcategory.name}}
</p>
<div class="dialog-container">


  <div mat-dialog-content class="dialog-container d-flex flex-column">
    <mat-form-field appearance="fill" class="full-width ">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="subcategory.name" placeholder="Ingrese el nombre de la subcategoría" #nombre="ngModel" required="true" />
      <mat-error *ngIf="nombre.invalid && nombre.touched">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Selecciona una categoria</mat-label>
      <mat-select [(value)]="catselected">
        <!-- <mat-option value="none">Selecciona una categoría</mat-option> Opción por defecto -->
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </div>

  <mat-dialog-actions  class="button-group">
    <button mat-raised-button (click)="close()" color="warn" class="action-button">
      Descartar
    </button>
    <button mat-raised-button (click)="init()" color="primary" class="action-button">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>

