<h1 mat-dialog-title class="text-light mb-4 fs-2 bg-color p-4">{{ data.title }}</h1>
<mat-dialog-content>
  <div class="d-flex align-items-center bg-color-soft text-white p-3 rounded fs-6 shadow me-3">
    <mat-icon class="text-light pe-4">info</mat-icon>
    <p class="mb-0 ps-2">Rellena los campos para enviar un mensaje a un usuario del sistema</p>
  </div>
</mat-dialog-content>
<form [formGroup]="messageForm">
  <mat-dialog-content class="d-flex flex-wrap gap-2">
    <p class="mb-0 ps-1 text-muted">{{ data.message }}</p>
    <mat-form-field class="w-100">
      <mat-label>Asunto</mat-label>
      <input type="text" matInput formControlName="subject" (input)="onInput('subject')">
      <mat-error *ngIf="messageForm.get('subject')?.hasError('required')">
        El asunto del mensaje es obligatorio.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Mensaje</mat-label>
      <textarea matInput formControlName="message" (input)="onInput('message')"></textarea>
      <mat-error *ngIf="messageForm.get('message')?.hasError('required')">
        El cuerpo del mensaje es obligatorio.
      </mat-error>
    </mat-form-field>
    <div class="d-flex gap-2 justify-content-end w-100">
      <button mat-raised-button (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button (click)="send()" [disabled]="messageForm.invalid"
        [ngClass]="{'text-secondary': messageForm.invalid}">
        <mat-icon>send</mat-icon> {{ data.button }}
      </button>
    </div>
  </mat-dialog-content>
</form>
